@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

#root {
  min-height: 100vh;
  animation: fadein 1.5s;
}

#recent {
  animation: fadein 0.8s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#result::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

#loader hr {
  width: 100%;
  border-radius: 4px;
  border: none;
  background: #f6f7f8;
  height: 20px;
  background: linear-gradient(to right, #3ba8f6, #fff, #3ba8f6);
  background-size: 800px 50px;
  animation: loaderanim 3s infinite linear;
}

@keyframes loaderanim {
  0% {
    background-position: -800px 0px;
    width: 0;
  }
  100% {
    background-position: 800px 0px;
    width: 100;
  }
}
